.git
__pycache__/
*.pyc
*.pyo

.vscode/
.idea/
.pytest_cache/

venv/
.env
*.env

*.log

*~
*.swp

db.sqlite3
db.sqlite3-journal

.Dockerfile
.dockerignore
.gitignore
README.md
docker-compose.yml

fixtures/
requirements/

_shell.py
